# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Databases
*.db

# Environment
.env

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
